body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

/* Settings Cog */
.settings-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* Modal Content */
.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.selection-container {
    display: flex; 
    flex-direction: row;
}

.album-container {
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display:inline;
}

#album-container {
    width: 40%;
}

#song-container {
    width: 60%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 5px;
    font-size: 16px;
    font-family: Meiryo;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

td:hover {
    background-color: #f0f0f0;
}

/* Queue */
#queue-text {
    position: fixed;
    top: 60px;
    right: 20px;
    cursor: pointer;
    font-size: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: right;
}

/* AP bullshit */
#ap-tracker {
    display: flex;
    flex-direction: column;
    width: 640px;
}
/* #ap-bullshit {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 10px;
} */
.fucking-everything {
    display: flex;
    width: 90%;
    height: 95%;
}
.left-side, .right-side {
    flex: 1;
    box-sizing: border-box;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

/* Tracker */
.tracker-item, .modal-item {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.charImage {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
.charImageObtained {
    width: 100%;
    height: 100%;
}
.item-count {
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  display: none;
}



/* Audio Player */
.audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress-bar-container {
    flex: 1;
    height: 10px;
    width: 300px;
    background: #e0e0e0; /* Light gray background for visibility */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0%; /* Initial width of 0 */
    background: #007bff; /* Blue color for progress bar */
    transition: width 0.1s linear; /* Smooth animation */
}